@import '../../../styles/color-palette';
@import '../../../styles/mixins';

.title {
  width: 100%;
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid $primary-border-color;
}

.modalContainer{
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  background: white;
}

.followList {
  width: 100%;
  max-height: 400px;
  text-align: center;
  font-size: 14px;
  @include flexColumn;
  overflow: auto;

.followItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include flexCenter;
  padding: 4px 20px;
  margin-bottom: 10px;
  width: 100%;
  min-height: 44px;

  .userInfo {
    display: flex;
    align-items: center;
    flex: 1;

    .username {
      text-align: left;
      flex: 1;
    }
  }
}
}
