@import './styles/color-palette.scss';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  background: $primary-background;
  width: 100%;
  height: 100%;
  color: $primary-text-color;

  @media screen and (orientation: landscape) and (max-width: 850px) {
    height: fit-content;
  }
}

a {
  text-decoration: none;
  color: $color-black;
}
