@import "./styles/color-palette.scss";
@import "./styles/mixins.scss";

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: $primary-text-color;
  // overflow: auto;

  @include respond(phone) {
    height: 100vh;
  }

  @media (max-width: 375px) and (max-height: 667px) {
    height: 125vh;
  }
}

a {
  text-decoration: none;
  color: $color-black;
}
