@import '../../styles/typography.scss';
@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.main {

  .container {
    @include container;
    display: flex;
    flex-direction: column;

    .profileHeader {
      display: flex;
      border-bottom: 1px solid $primary-border-color;
      padding-bottom: 40px;

      .profilePageProfilePic {
        @include flexColumn;
        align-items: center;
        flex: 2;
        margin-right: 30px;
        min-height: 240px;
        border-radius: 50%;


        .changeProfilePicButton {
          cursor: pointer;
          display: inline-block;

          .profilePic {
            display: inline-flex;
            @include flexCenter;

            img {
              border-radius: 50%;
              border: 1px solid $primary-border-color;
              width: 150px;
              height: 150px;
            }
          }
        }
      }

      .profileInfo {
        display: flex;
        flex-direction: column;
        flex: 4;

        .profileInfoHeader {
          display: flex;
          align-items: center;
          font-size: $button-text;
          margin-bottom: 20px;

          .username {
            font-size: $secondary-heading;
            font-weight: 400;
          }

          .editLink {
            display: flex;
            align-items: center;
            margin-left: 80px;
          }

          .logoutBtn {
            padding: 3px 5px;
            margin-left: 20px;
          }
        }

        .socialStatusList {
          display: flex;
          margin-bottom: 20px;

          & li {
            margin-right: 40px;
          }
        }

        .bioContainer {
          .fullName {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.uploadPhoto {
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
  width: 100%;
}
