@import '../../styles/typography.scss';
@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .container {
    @include container;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond(tab-port) {
      width: 100%;
      padding: 30px 20px 0;
    }

    @include respond(phablet) {
      padding: 0;
    }

    .profileHeader {
      display: flex;
      border-bottom: 1px solid $primary-border-color;
      padding-bottom: 20px;

      @include respond(phablet) {
        margin-top: 20px;
      }


      .profilePageProfilePic {
        @include flexColumn;
        width: 30%;
        margin-right: 30px;
        height: 240px;
        border-radius: 50%;
        @include respond(phablet) {
          height: 77px;
        }

        .changeProfilePicButton {
          cursor: pointer;
          display: inline-block;

          .profilePic {
            display: inline-flex;
            @include flexCenter;

            img {
              border-radius: 50%;
              border: 1px solid $primary-border-color;
              width: 150px;
              height: 150px;

              @include respond(phablet) {
                height: 77px;
                width: 77px;
              }
            }
          }
        }
      }

      .profileInfo {
        display: flex;
        flex-direction: column;
        width: 35%;

        .profileInfoHeader {
          display: flex;
          align-items: center;
          font-size: $button-text;
          margin-bottom: 10px;

          .username {
            font-size: $secondary-heading;
            font-weight: 400;
          }

          .editLink {
            min-width: 90px;
            display: flex;
            align-items: center;
            margin-left: 15px;
          }

          .logoutBtn {
            padding: 3px 5px;
            margin-left: 5px;
          }
        }

        .socialStatusList {
          display: flex;
          align-items: center;
          min-width: 300px;
          justify-content: space-between;
          margin-bottom: 20px;

          & li > {
            display: flex;
            margin-right: 40px;
          }
        }

        .bioContainer {
          .fullName {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

.uploadPhoto {
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
  width: 100%;
}
