@import '../../../styles/mixins.scss';
@import '../../../styles/color-palette.scss';
@import '../../../styles/typography.scss';


.postContainer{
    width: 600px;
    border: 2px solid $primary-border-color;
    border-bottom: 1px solid $secondary-border-color;
    border-radius: 3px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    background: $color-white;
    margin-bottom: 40px;
    .headerPostContainer{
        margin-top: 5px;
            
        .postHeader{
            @include flexSpaceBetween;
            width: 100%;
            .userIdentifier{
                @include flexCenter;
                .profilePicLink{
                  img{
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                    background-color:red;
                    margin-right: 10px;
                    margin-left: 10px;
                  }
                }
                .username{
                  &:hover{
                    cursor: pointer;
                  }
                }
                }
            }
            
            .moreIcon{
                margin-right: 10px;
            }
        }
    }
    .postPicture{
        margin: 0 auto;
        width: 595px;
        margin-top:5px;
        margin-bottom:5px;
        border-top: 2.4px solid #8e8e8e10;
    }
    .iconsWrapper{
        width: 96%;
        @include flexSpaceBetween;
        margin: 0 auto;
        font-size: $icon-medium-small;

        .leftIconsWrapper{
            width: 14%;
            @include flexSpaceBetween;
            .chatIcon{
                font-size: $icon-small
            }
            .ShareModalIcon{
                font-size: $icon-small
            }
        }
        .bookMark{
            font-size: $icon-small;
        }
    }
    .likesAmount{
        margin: 3px 0px 0px 11px;
    }
    .postContentContainer{
        margin: 0px 0px 3px 11px;

        .username{
            font-size: 18px;
            font-weight: 600;
            margin-right: 10px;
            &:hover{
              cursor: pointer;
            }

        }
    }
    .postAge{
        margin: 0px 0px 3px 11px;
        color: #8e8e8e;
        width: 20%;
    }
    .commentContainer{
        border-top: 2.4px solid #8e8e8e57;
        height: 48px;
        @include flexSpaceBetween;

        .commentInput{
            position: absolute;
            border: none;
            width: 20%;
        }
        .commentLabel{
            position: relative;
            margin: 0px 0px 3px 11px;
        }
        .postButton{
            margin: 0px 11px 3px 0px;
            z-index: 100;
            &:hover{
                cursor: pointer;
            }
        }
    }
  




