@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.ProfilePic {
  @include flexCenter;
  width: 24px;
  height: 24px;

  img {
    width: 22px;
    height: 22px;
    border-radius: 100%;
  }
 }

.ProfilePic.big {
    width: 34px;
    height: 34px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 100%;
    }
}

.ProfilePic.medium{
  height: 31px;
  width: 31px;
  
  img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    //margin-right: 10px;
    //margin-left: 20px;
  }
}
