@import '../../styles/mixins.scss';

.container{
  padding: 30px 0px;
  @include flexCenter;
  flex-direction: column;
  align-content: center;
}
.firstRow, .fifthRow{
  color: darkslategray;
  font-weight: bold;
}

.secondRow, .thirdRow, .fourthRow{
  font-weight: 400;
}
