.activityWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.activityContentWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.activityProfilePicDiv {
  width: 45px;
  display: flex;
  margin-right: 20px;

  img {
    width: inherit;
    border-radius: 100%;
  }
}

.activityText {
  display: flex;

  span {
    text-overflow: initial;
  }
}

.activityCreatedDiv {
  width: 150pxx;

  div {
    margin-bottom: 0px;
    width: 100%;
  }
}

.activityMedia {
  width: 80px;
  display: flex;
  justify-content: flex-end;

  img {
    width: 45px;
  }
}
