@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.btn {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;

  & button {
    border: none;
    border-radius: 4px;
    height: 35px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    @include respond(phone) {
      font-size: 15px;
    }

    &:disabled {
      cursor: initial;
    }
  }
}

.btnBlock {
  button {
    width: 100%;
  }
}

.primary {
  button {
    background-color: $primary-color;
    color: $color-white;

    &:active {
      background-color: $primary-light;
    }

    &:disabled {
      background-color: $secondary-color;
      color: $color-white;
    }
  }
}

.danger {
  & button {
    background-color: $error-text-color;
    color: $color-white;
  }
}
