@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';
@import '../../styles/typography.scss';

.btn {
@include flexCenter;
  & button {
    background: transparent;
    font-weight: bold;
    border: 1px solid $primary-border-color;
    border-radius: 4px;
    padding: 5px 9px;
    height: 35px;
    outline: none;
    font-size: $button-text;
    cursor: pointer;

    &:disabled {
      cursor: initial;
    }
  }
}

.btnBlock {
  width: 100%;
  button {
    width: 100%;
  }
}

.primary {
  button {
    border: none;
    background-color: $primary-color;
    color: $color-white;

    &:active {
      background-color: $primary-light;
    }

    &:disabled {
      background-color: $secondary-color;
      color: $color-white;
    }
  }
}

.danger {
  & button {
    border: none;
    background-color: $error-text-color;
    color: $color-white;
  }
}
