@import "../../styles/color-palette.scss";
@import "../../styles/mixins.scss";
@import "../../styles/typography.scss";

.btn {
  display: flex;
  justify-content: center;

  &.astext {
    & button {
      border: none;
    }
  }

  & button {
    display: block;
    width: 100%;
    font-family: inherit;
    background: transparent;
    border: 1px solid $primary-border-color;
    border-radius: 4px;
    padding: 5px 9px;
    height: 35px;
    outline: none;
    font-size: inherit;
    cursor: pointer;

    &:disabled {
      cursor: initial;
    }
  }
}

.btnBlock {
  width: 100%;
  button {
    width: 100%;
  }
}

.primary {
  button {
    border: none;
    background-color: $primary-color;
    color: $color-white;

    &:active {
      background-color: $primary-light;
    }

    &:disabled {
      background-color: $secondary-color;
      color: $color-white;
    }
  }

  &.astext {
    & button {
      background: none;
      color: $primary-color;
    }
  }
  &.morebtn {
    & button {
      padding: 0px 0px 0px 3px;
      height: 13px;
      display: inline-block;
    }
  }
}

.danger {
  & button {
    border: none;
    font-weight: bold;
    background-color: $error-text-color;
    color: $color-white;
    padding: 5px;
  }

  &.astext {
    & button {
      background: none;
      color: $error-text-color;
    }
  }
}

.buttonLoadingSpinner {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 21px;
  }
}
