@import '../../../styles/color-palette';
@import '../../../styles/mixins';

.list {
  background: $color-white;
  min-width: 400px;
  min-height: auto;
  text-align: center;
  font-size: 14px;
  @include flexColumn;
  justify-content: center;

  @include respond(phone) {
    min-width: 320px;
  }
}
