@import '../../../styles/mixins.scss';
.postPicture{
  margin: 0 auto;
  width: 496px;
  height: 500px;
  margin-top:5px;
  border-top: 2.4px solid #8e8e8e10;
  @include respond (phone){
    width: 100%;
    height: 100%;
  };

}
