@import '../../styles/mixins.scss';
@import '../../styles/color-palette.scss';



.postContainer{
    width: 60%;
    border: 2px solid $primary-border-color;
    border-bottom: 1px solid $secondary-border-color;
    border-radius: 3px;
    height: 50px;
}

.postHeader{
    @include flexCenter;
}