@import '../../styles/mixins.scss';
@import '../../styles/color-palette';

.container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid lightgray;

  @include respond(postModal){
      overflow: auto;
      overflow-x: hidden;
      @include flexColumn;
      height: 100%;
    }
    
  .media {
      
      height: 100%;
      img{
        width: 100%;
        height: 100%;
      }
      @include respond(tab-land){
        width: 600px;

      }
  }
  .cssHelper{
    @include flexColumn;
    flex: 1;
    max-height: 600px;
    width: 90%;

    @include respond(postModal) {
      width: 100%;
    }

    .postContentContainer{
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      @include flexColumn;
      .postContentHeader{
        height: 80px;
        width: 100%;
        @include flexSpaceBetween;
        padding: 10px 9px 15px 9px;
        border-bottom: 1px solid $third-border-color;
        .postContentHeaderIdentifier{
          display: flex;
          font-weight: bold;
        }
      }
      .contentWrap{
        display: flex;
        flex-direction: column;
        width: 100%;      
      }
      .postComments{
        padding-left: 10px;
      }
    }
    .iconsAndFormWrapper{
      width: 100%;
    } 
  }
}

