@import '../../../styles/color-palette.scss';
@import '../../../styles/mixins.scss';

.authWrapper {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .authDiv {
    @include flexColumn;
    max-width: 450px;
    width: 100%;
    height: 65%;
    border: 1px solid $primary-border-color;
    border-radius: 1px;
    overflow: hidden;
    background-color: $color-white;

    .authForm {
      @include flexColumn;
      width: 100%;
    }
  }
}
