@import '../../../styles/mixins.scss';
@import '../../../styles/color-palette';
@import '../../../styles/typography.scss';

.iconsWrapper{
  width: 100%;
  @include flexSpaceBetween;
  font-size: $icon-medium-small;
  background-color: $secondary-background;
  padding: 0px 10px;

  .leftIconsWrapper{
      width: 14%;
      height: 40px;
      @include flexSpaceBetween;
      .chatIcon{
          font-size: $icon-small
      }
      .likeHeart{
        color: red;
      }   
      .ShareModalIcon{
        font-size: $icon-small
      }
  }
}

