@import '../../../styles/mixins.scss';

.comment {
  display: flex;
  flex-direction: column;
  .commentHeader{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 5px 9px;  
    .commentData {
      display: flex;
       .postPageUsername {
        padding-left: 10px;
        font-weight: bold;
       }
       .homePageUsername{
         font-weight: bold;
       }
    }
  
  }
  .commentActions{
    width: 100%;
    display: flex;
    align-items: center;  
  }
}
