@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.searchInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 215px;
  height: 25px;
  border: 1px solid $primary-border-color;
  background-color: $primary-background;
  color: $secondary-text-color;
  @include respond(phablet) {
    display: none;
  }

  .SearchInput {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: inherit;

    &:hover ~ .deleteIconWrapper {
      visibility: visible;
    }

    &:valid:focus ~ .deleteIconWrapper {
      visibility: visible;
      pointer-events: all;
      cursor: pointer;
      z-index: 3;
    }

    &:focus {
      padding-left: 25px;
      color: $color-black;
      + .searchLabel {
        justify-content: space-between;
      }
    }

    &:valid {
      + .searchLabel .searchText {
        opacity: 0;
      }
    }

    &:not(:focus):valid {
      text-align: center;

      + .searchLabel {
        justify-content: flex-start;
        .searchText {
          display: none;
        }
      }
    }
  }
  .searchLabel {
    @include flexCenter;
    padding-left: 10px;
    position: absolute;
    width: 80%;
    z-index: 2;
    cursor: text;

    .searchIcon {
      font-size: 15px;
      line-height: 20px;
      transform: translateY(-1.5px) scale(0.9);
      vertical-align: middle;
    }

    .searchText {
      padding: 0;
      margin: 0;
      font-size: 14px;
    }
  }

  .deleteIconWrapper {
    @include flexCenter;
    background: transparent;
    border: none;
    pointer-events: none;
    visibility: hidden;
    z-index: -3;
    color: $secondary-text-color;
    opacity: 1;
    font-size: 20px;
  }
}

.notFound {
  color: $secondary-text-color;
  padding: 5px;
}

.searchProfilePic {
  width: 40px;
  overflow: hidden;
  display: flex;

  img {
    width: 100%;
    border-radius: 100%;
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  opacity: 0;
}
