@import "../../../styles/color-palette.scss";
@import "../../../styles/mixins.scss";

.authWrapper {
  @include flexColumn;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 100px;
  overflow: hidden;
  position: relative;

  @include respond(phone) {
    padding-top: 0px;
    background-color: $color-white;
  }

  .authDiv {
    @include flexColumn;
    background: $color-white;
    max-width: 450px;
    width: 100%;
    height: 500px;
    padding-top: 20px;
    border: 1px solid $primary-border-color;
    border-radius: 1px;
    overflow: hidden;

    @include respond(phone) {
      border: none;
      height: 85%;
    }

    .authForm {
      @include flexColumn;
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 50px;

      @include respond(phone) {
        padding-left: 30px;
        padding-right: 30px;
      }

      .defaultInput {
        padding-left: 8px;
        padding-bottom: 7px;
        padding-top: 9px;
        width: 100%;
        outline: none;
        font-size: 20px;
        border: none;
        background-color: $primary-background;
      }

      .activeInput {
        padding-left: 8px;
        padding-bottom: 5px;
        padding-top: 20px;
        outline: none;
        width: 100%;
        font-size: 12px;
        border: none;
        border-radius: 5px;
        border-radius: 5px;
        background-color: $primary-background;
      }

      .defaultInputSpan {
        color: $secondary-text-color;
        font-size: 16px;
        line-height: 42px;
        overflow: hidden;
        position: absolute;
        padding-left: 10px;
        transition: all 0.2s ease-in-out;
        text-align: center;
        cursor: text;

        @include respond(phone) {
          font-size: 14px;
        }
      }

      .activeInputSpan {
        color: $secondary-text-color;
        font-size: 12px;
        padding-left: 10px;
        position: absolute;
        letter-spacing: 1px;
        line-height: 25px;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
