.NavLinks {
	display: flex;
	align-items: center;
}

.NavLinks > * {
	margin: 0 10px 0 10px;
	cursor: pointer;
}

.profilePicLink {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	border: 2px solid transparent;
	border-radius: 100%;
	padding: 0;
}

.activeProfilePic {
	composes: profilePicLink;
	position: relative;

	& img {
		border: 2px solid #000 !important;
		border-radius: 50%;
		position: absolute;
	}
}
