@import '../../../styles/color-palette.scss';

.wrapper {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  height: 63px;
  width: 350px;
  background: $color-white;
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid $primary-border-color;
  border-radius: 1px;
}

.paragraph {
  margin: 15px;
  text-align: center;
}

.link {
  text-decoration: none;
  margin-left: 3px;

  &Text {
    color: $primary-color;
  }
}
