.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	font-size: 15px;
	height: 80px;
	width: 100%;
	max-width: 453px;
	background: #ffffff;
	margin: 0 0 10px;
	border: 1px solid #dbdbdb;
	border-radius: 1px;
	margin-top: 12px;
}

.paragraph {
	font-size: 18px;
	text-align: center;
}

.link {
	text-decoration: none;
	margin-left: 3px;

	&Text {
		color: #0095f6;
	}
}
