@import '../../styles/color-palette.scss';

.fieldDiv {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;

  .label {
    display: flex;
    width: 100%;

    span {
      color: $secondary-text-color;
      font-size: 16px;
      line-height: 42px;
      overflow: hidden;
      position: absolute;
      padding-left: 10px;
      transition: all 0.2s ease-in-out;
      text-align: center;
    }

    input {
      padding-left: 8px;
      padding-bottom: 7px;
      padding-top: 9px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 20px;
      border: 1px solid $primary-border-color;
      border-radius: 5px;
      background-color: $primary-background;

      &:focus {
        border: 1px solid $secondary-border-color;
        border-radius: 5px;
      }

      &:valid {
        padding-left: 8px;
        padding-bottom: 5px;
        padding-top: 20px;
        border: none;
        outline: none;
        width: 100%;
        font-size: 12px;
        border: 1px solid $primary-border-color;
        border-radius: 5px;
        border: 1px solid $secondary-border-color;
        border-radius: 5px;
      }

      &:valid ~ span {
        color: $secondary-text-color;
        font-size: 12px;
        padding-left: 10px;
        position: absolute;
        letter-spacing: 1px;
        line-height: 25px;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
