@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.listItem {
  list-style-type: none;
  padding: 8px 14px;
  height: 65px;
  border-bottom: 1px solid $primary-border-color;
  flex: 1;
  display: flex;
  align-items: center;


  &:hover {
    background: rgba($primary-border-color, 0.1);
  }

  @include respond(phone) {
    padding: 8px 9px;
    height: auto;
  }
}

.listItem > * {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
}

.listItem span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

