@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.listItem {
  list-style-type: none;
  padding: 8px 14px;
  height: 65px;
  border-bottom: 1px solid $primary-border-color;
  flex: 1;
  display: flex;
  align-items: center;
  display: flex;

  &:hover {
    background: rgba($primary-border-color, 0.1);
  }
}

.listItem > * {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.listItem span {
  margin-left: 10px;
}
