@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.Popover {
  position: absolute;
  width: 240px;
  height: auto;
  top: 45px;
  color: $primary-text-color;
  background: $color-white;
  box-shadow: $primary-box-shadow;
  border: 1px solid $primary-border-color;
  border-radius: 2px;
  z-index: 200;
}

.triangle {
  @include absCenter;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid $color-white;
  filter: drop-shadow($primary-box-shadow);
}

.content {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  max-height: 360px;
}
