@import '../../styles/mixins.scss';
@import '../../styles/color-palette.scss';
@import '../../styles/typography.scss';

.postContainer{
    width: 600px;
    border: 2px solid $primary-border-color;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background: $color-white;
    margin-bottom: 40px;
            
            .moreIcon{
                margin-right: 10px;
            }

        }
    
    .postPicture{
        margin: 0 auto;
        width: 595px;
        margin-top:5px;
        margin-bottom:5px;
        border-top: 2.4px solid #8e8e8e10;
    }
    .iconsWrapper{
        width: 96%;
        @include flexSpaceBetween;
        margin: 0 auto;
        font-size: $icon-medium-small;

        .leftIconsWrapper{
            width: 14%;
            @include flexSpaceBetween;
            .chatIcon{
                font-size: $icon-small
            }
            .likeHeart{
              color: red;
            }   
            .ShareModalIcon{
              font-size: $icon-small
            }
        }
        .bookMark{
            font-size: $icon-small;
        }
    }
    .likesAmount{
        margin: 3px 0px 0px 11px;
    }
    .postContentContainer{
        margin: 0px 0px 3px 11px;

        .username{
            font-size: 18px;
            font-weight: 600;
            margin-right: 10px;
            &:hover{
              cursor: pointer;
            }

        }
    }
    .postAge{
        margin: 0px 0px 3px 11px;
        color: #8e8e8e;
        width: 20%;
    }
    .commentContainer{
        border-top: 2.4px solid #8e8e8e57;
        height: 48px;
        display: flex;
        justify-content: space-between;
        .commentInput{
            width: 95%;
            resize: none;
            overflow: auto;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;        
            outline: none;
            border: none;
            padding: 12px;
            &::-webkit-input-placeholder{
              margin-left: 5px;
            }
        }
        .postButton{
            margin: 0px 11px 3px 0px;
            width: 5%;
            z-index: 100;
            &:hover{
                cursor: pointer;
            }
        }
    }
  




