@import '../../../styles/color-palette.scss';

.commentContainer{
  border-top: 2.4px solid #8e8e8e57;
  height: 48px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  .commentInput{
      width: 95%;
      resize: none;
      overflow: auto;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;        
      outline: none;
      border: none;
      padding: 12px;
      &::-webkit-input-placeholder{
        margin-left: 5px;
      }
  }
  .postButton, .grayPostButton{
      margin: 3px 11px 3px 0px;
      width: 5%;
      align-items: center;
      &:hover{
          cursor: pointer;
      }
  }
  .grayPostButton{
    color: $secondary-text-color;
  }
}
