@import '../../styles/color-palette.scss';
@import '../../styles/mixins.scss';

.Navbar {
  position: sticky;
  top: 0;
  @include flexCenter;
  height: 54px;
  width: 100%;
  border-bottom: 1px solid $primary-border-color;
  background: $color-white;
  z-index: 4;
}

.content {
  display: flex;
  @include container;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    position: relative;
  }
}

.Link {
  color: $color-black;
  text-decoration: none;
}
