.Navbar {
	height: 54px;
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}
