// GENERAL
$color-white: #ffffff;
$color-black: #000000;

// BACKGROUNDS
$primary-background: #fafafa;
$secondary-background: #f4f4f4;

// BORDERS
$primary-border-color: #dbdbdb;
$secondary-border-color: #a8a8a8;
$third-border-color: #efefef;

// TEXT
$primary-text-color: #262626;
$secondary-text-color: #8e8e8e;
$secondary-text-color-light:  #cbcbcb;
$error-text-color: #ed4956;

// Call to action
$primary-color: #0095f6;
$secondary-color: #0095f64d;
$primary-light: #41b0fa;
