@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexSpaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexStart{
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin container {
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
  padding: 40px 20px;
}


/* MEDIA QUERY MANAGER

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 500px) {
      @content;
    }
  }

  @if $breakpoint == phablet {
    @media (min-width: 500px) and (max-width: 700px) {
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (min-width: 700px) and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }

  @if $breakpoint == postModal {
    @media (max-width: 1000px) {
      @content
    }
  }
}
