// fonts families
$cursive-font: Brush Script MT, Brush Script Std, cursive;
$primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Icon sizes
$icon-small: 18px;
$icon-medium-small: 23px;
$icon-medium: 26px;
$icon-medium-large: 30px;

// Heading
$secondary-heading: 28px;

// Buttons
$button-text: 14px;
