@import '../../../styles/mixins.scss';
@import '../../../styles/color-palette.scss';
@import '../../../styles/typography.scss';

.headerPostContainer{
  margin-top: 5px;
  margin-left: 10px;
  @include respond(phone){
    width: 100%;
  };

      
  .postHeader{
      @include flexSpaceBetween;
      width: 100%;
  }
  .moreIcon{
    font-size: 22px;
}
}